.Header{
display: flex;
align-items: center;
}

.Header_left{
    display: flex;
    align-items: center;
}

.left_logo{
    width: 20%;
}

.left_logo img{
    width: 100%;
}

.left_home,
.left_notification{
    display: flex;
    align-items: center;
    margin-left: 0.6em;
}

.current-location{
    color: #b92b27;
    border-bottom: 1px solid #b92b27;
}


.Header_center{
    display: flex;
    align-items: center;
    margin-right: 6%;
    border: 1px solid lightgray;
}

.Header_center :hover{
    border: 1px solid #73baf4;
}
.center_inputfield{
    border: none;
}

.Header_center{
    display: flex;
    align-items: center; 
}

.Header_right{
    display: flex;
    align-items: center; 
}
.right_user,
.right_Icon,
.right_btn{
    margin-right: 1em;
}

.right_btn{
    border-radius:999px;
    padding: 0.1em 2em;
    background-color: #b92b27;
    color:#fff;
}
